.footer {
    background: linear-gradient(90deg, rgb(201, 34, 34) 0%, rgb(34, 26, 26) 100%);
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
}

.footer i {
    color: #fff;
    font-size: 50px;
}

.footer-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-bottom: 50px;
}